main {
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #1f2b4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-cart a {
  text-decoration: none;
}

.cart-icon {
  margin-right: 1rem;
}

.cart-count {
  background-color: #2f3e66;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  margin: 0;
}

.alert-message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-weight: bold;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.page-content {
  background-color: #fff;
  min-height: 100vh;
  padding-top: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.product-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.product-card img {
  max-width: 100%;
}

.product-card h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.product-card p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.product-card div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.product-card select {
  padding: 0.2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn-add-to-cart {
  background-color: #1f2b4d;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.btn-add-to-cart:hover {
  background-color: #2f3e66;
}

.checkout-content {
  background-color: #fff;
  min-height: 100vh;
  padding-top: 90px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.checkout-item > div {
  display: flex;
  align-items: center;
}

.checkout-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 1rem;
}

.checkout-quantity-container {
  display: flex;
  align-items: center;
}

.checkout-quantity-container p {
  margin: 0 0.5rem 0 0;
}

.checkout-quantity-container input {
  width: 50px;
  height: 25px;
  text-align: center;
  font-size: 1rem;

  padding: 0.2rem;
  margin-left: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.checkout-quantity-container button {
  color: blue;
  background-color: transparent;
  border: none;
}

.checkout-details {
  margin: 0;
}

.checkout-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn-return,
.btn-purchase {
  padding: 1rem 2rem;
  background-color: #2f3e66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-return:hover,
.btn-purchase:hover {
  background-color: #1f2b4d;
}

.btn-remove {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
